---
import Inicio from '../components/Inicio.astro';
import SobreMi from '../components/SobreMi.astro';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
---


<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div>
			<NavBar client:load/>
			<Inicio/>
			<SobreMi/>
			<Footer/>
		</div>
	</body>
</html>



<style>
	*{
		margin: 0%;
		padding: 0%;
	}
	body{
		width: 100%;
		height: 100%;
	}
</style>
