---

---

<div class="contenedor" >
    <h1 class="contenedor_titulo" >
        Elias Potes</h1>
    <div class="contenedor_texto">
        <div class="contenedor_svg">
            <svg class="svg_barra" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
        </div>
        <p class="contenedor_p" >
        <strong class="contenedor_strong" >Frontend Developer</strong>, apasionado por la creación de experiencias web cautivadoras.
            ¡Vamos a dar vida a tu visión digital! 
        </p>
    </div>
</div>

<style>
    .contenedor{
        max-width: 480px;
        font-size: 18px;
        padding: 1em;
    }
    .contenedor_titulo{
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: bold;
        
    }
    .contenedor_texto{
        display: flex;
    }
    .contenedor_p{
        display: inline;  
    }
    .contenedor_svg{
        display: inline;
        height: 100%;
        float: left;
        padding-top: 25px;
    }
    .svg_barra{
        display: inline;
        margin: 0;
        width: 20px;
        height: 18px;
        
    }
    .contenedor_strong{
        display: inline;
        color: #1D0070;
        font-weight: bold;
    }
</style>